
<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="First Name" name="first_name">
  <label for="floatingInput">First Name</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput"  value="{{this.last_name}}"placeholder="Last Name" name="last_name">
  <label for="floatingInput">Last Name</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.street_address}}" placeholder="Street Address" name="street_address">
  <label for="floatingInput">Street Address</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput"  value="{{this.city}}"placeholder="City" name="city">
  <label for="floatingInput">City</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.state}}" placeholder="State" name="state">
  <label for="floatingInput">State</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput"  value="{{this.zip}}"placeholder="Zip" name="zip">
  <label for="floatingInput">Zip</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput"  value="{{this.email}}" placeholder="email@email.com" name="email">
  <label for="floatingInput">Email</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
  <label for="floatingInput">Phone</label>
</div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
