
<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" value="{{this.customer_id}}" placeholder="Customer ID" name="customer_id">
  <label for="floatingInput">Customer ID</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="date" class="form-control" id="floatingInput"  value="{{this.order_date}}"placeholder="Order Date" name="order_date">
  <label for="floatingInput">Order Date</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="date" class="form-control" id="floatingInput" value="{{this.update_date}}" placeholder="Update Date" name="update_date">
  <label for="floatingInput">Update Date</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput"  value="{{this.card_numb}}"placeholder="Card Number" name="card_numb">
  <label for="floatingInput">Card Number</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.amount}}" placeholder="Amount" name="amount">
  <label for="floatingInput">Amount</label>
</div>
</div>
<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.order_status}}" placeholder="Order Status" name="order_status">
  <label for="floatingInput">Order Status</label>
</div>
</div>
<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" value="{{this.order_filled}}" placeholder="Order Filled" name="order_filled">
  <label for="floatingInput">Order Filled</label>
</div>
</div>


<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
