
<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" value="{{this.order_id}}" placeholder="Order ID" name="order_id">
  <label for="floatingInput">Order ID</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" value="{{this.product_id}}" placeholder="Product ID" name="product_id">
  <label for="floatingInput">Product ID</label>
</div>
</div>


<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" value="{{this.quantity}}" placeholder="Quantity" name="quantity">
  <label for="floatingInput">Quantity</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" value="{{this.price}}" placeholder="Price" name="price">
  <label for="floatingInput">Price</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.line_item}}" placeholder="Line Item" name="line_item">
  <label for="floatingInput">Line Item</label>
</div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
