
<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" value="{{this.product_id}}" placeholder="Product ID" name="product_id">
  <label for="floatingInput">Product ID</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="date" class="form-control" id="floatingInput"  value="{{this.purchase_date}}"placeholder="Purchase Date" name="purchase_date">
  <label for="floatingInput">Purchase Date</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" value="{{this.cost}}" placeholder="Cost" name="cost">
  <label for="floatingInput">Cost</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="date" class="form-control" id="floatingInput"  value="{{this.payment_date}}"placeholder="Payment Date" name="payment_date">
  <label for="floatingInput">Payment Date</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" value="{{this.item_received}}" placeholder="Item Received" name="item_received">
  <label for="floatingInput">Item Received</label>
</div>
</div>


<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
