<br>
      <div>   
          <a  type="button" class="btn btn-dark btn-xs"  href="/">Home</a>
          </div><br>
<div class="row">
<div class="col-6"><h1>Orders</h1></div>
<div class="col-6 d-flex justify-content-end">
  <a href="/addOrder" type="button" class="btn btn-primary align-self-center">+ add order</a>
</div>

</div>
      <form class="d-flex" method="POST" action="orders" novalidate >
        <input class="form-control me-2" type="search" placeholder="Search Orders by Order Status or Order Filled" name="search" aria-label="Search">
        <button class="btn btn-dark" type="submit">Search</button>
      </form><br><br>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Order Date</th>
            <th scope="col">Update Date</th>
            <th scope="col">Card Number</th>
            <th scope="col">Amount</th>
            <th scope="col">Order Status</th>
            <th scope="col">Order Filled</th>
            <th scope="col"  class="text-end">View/Edit/Delete</th>
  
    </tr>
  </thead>
  <tbody>
    {{!-- {{rows}} come from the query customerController.js this.columnName --}}
{{#each rows}} 
    <tr>
            <th scope="row">{{this.order_id}}</th>
            <th>{{this.customer_id}}</th>
            <td>{{this.order_date}}</td>
            <td>{{this.update_date}}</td>
            <td>{{this.card_numb}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.order_status}}</td>
            <td>{{this.order_filled}}</td>
      <td class="text-end">
        <a href="/viewOrder/{{this.order_id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> View</a>
          <a href="/editOrder/{{this.order_id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> Edit</a>
          <a href="/deleteOrder/{{this.order_id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Delete</a>
      </td>
    </tr>
    {{/each}}


  </tbody>
</table>